@charset "UTF-8";
@import url("https://fonts.googleapis.com/earlyaccess/hannari.css");

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
div,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #472405;
    font-family: "Hannari", "A1 Mincho", "游明朝", "YuMincho",
        "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3",
        "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
    border: none;
}

body {
    background-color: #cbad8c;
    margin: 0 auto;
    max-width: 100%;
}

/* ヘッダー */

.brown_back {
    position: relative;
    background: #51330e;
    height: 50vh;
}

.brown_back::after {
    content: "";
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #cbad8c;
    height: 65%;
}

header {
    position: relative;
}

.header_Wrap {
    position: absolute;
    width: 100%;
    top: 0;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
}

.header_logo {
    margin-left: 18.4895%;
    max-width: 230px;
    z-index: 50;
}

h1 {
    font-size: 23px;
    color: white;
    margin-right: 2.6041%;
    z-index: 50;
}

.header_img {
    width: 78.125%;
    z-index: 40;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

.pc_nav {
    position: absolute;
    top: 100%;
    left: 25%;
    z-index: 50;
}

.pc_nav li {
    color: white;
    font-size: 29px;
    line-height: 2.0258;
}

/* コンセプト */
.CONCEPT {
    margin-top: 80px;
    text-align: center;
    position: relative;
}

.concept_title {
    font-size: 100px;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.concept_title span {
    color: #ff9000;
    text-shadow: 1px 1px 20px white;
}

.concept_sub {
    margin-top: 80px;
    font-size: 40px;
}

.concept_p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 1.75;
}

.sircle1 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #51330e;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 4.16%;
}

.sircle2 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: solid 3px #ff9000;
    opacity: 0.3;
    position: absolute;
    top: 180px;
    left: 245px;
}

.sircle3 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: solid 2px #ffd400;
    opacity: 0.3;
}

.sircle4 {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: solid 2px #ffffff;
    opacity: 0.3;
}

.sircle5 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #ff9000;
    opacity: 0.3;
}

.sircle6 {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.3;
}

.sircle7 {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: solid 2px #51330e;
    opacity: 0.3;
}

/* サービス */

.SERVICE {
    margin-top: 100px;
}

h2 {
    text-align: center;
}

h2 img {
    max-width: 210px;
}

.slider_service_img {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 960px;
}

.servise_p_frame {
    margin: 0 auto;
    padding: 15px 15px 0;
    box-sizing: border-box;
    max-width: 780px;
    background-color: #ffd400;
    border-top-left-radius: 43px;
    border-top-right-radius: 43px;
}

.service_title {
    max-width: 635px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.service_title_LP {
    max-width: 95.5029px;
}

.service_title_cording {
    max-width: 75.2334px;
}

.service_title_photo {
    max-width: 51.8686px;
}

.service_title_banner {
    max-width: 89.6455px;
}

.slider_service_p {
    margin: 0 auto;
    margin-top: 15px;
    font-size: 15px;
}

.slider_service_p ul {
    text-align: start;
}
